POSTGRES_USER=antifraud
POSTGRES_PASSWORD=antifraud
POSTGRES_DB=antifraud

LLM_PROVIDER=openai_compat

LLM_BASE_URL=http://host.docker.internal:11434/v1

LLM_MODEL=qwen2.5:7b
LLM_API_KEY=
LLM_TIMEOUT=60s

DIALOG_MAX_TURNS=20
DIALOG_SESSION_TTL=30m
