@font-face {
  font-family: 'Manrope Cut';
  src:
    url('./Manrope/Manrope_Cut_008-Medium.woff2') format('woff2'),
    url('./Manrope/Manrope_Cut_008-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope Cut';
  src:
    url('./Manrope/Manrope_Cut_008-ExtraBold.woff2') format('woff2'),
    url('./Manrope/Manrope_Cut_008-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
